*{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
body{
  background-color: #c8c8c8;
}
nav{
  background: black;
  padding: 8px;
}
#newMessage{
  display: flex;
  justify-content: center;
}
#newMessage input{
  padding: 5px;
}
#newMessage .userInput{
  max-width: 80px;
}
.messages{

}
.singleMessage{
  max-width: 450px;
  width: 100%;
  float: left;
  margin: 20px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 7px 3px 15px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 3px 15px -7px rgba(0,0,0,0.75);
  box-shadow: 7px 3px 15px -7px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 120px;
}
.messageHeader{
  width: 25%;
  color: white;
  padding: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}
.singleMessage:nth-child(4n+2) .messageHeader {
  background: #7bce44; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #7bce44 0%, #4aa500 52%, #7bce44 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #7bce44 0%,#4aa500 52%,#7bce44 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #7bce44 0%,#4aa500 52%,#7bce44 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bce44', endColorstr='#7bce44',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.singleMessage:nth-child(4n+1) .messageHeader {
  background: #9c60c9; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #9c60c9 0%, #7b13af 50%, #9c60c9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #9c60c9 0%,#7b13af 50%,#9c60c9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #9c60c9 0%,#7b13af 50%,#9c60c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c60c9', endColorstr='#9c60c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.singleMessage:nth-child(4n+0) .messageHeader {
  background: #cb60b3; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #cb60b3 0%, #a80077 51%, #db36a4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #cb60b3 0%,#a80077 51%,#db36a4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #cb60b3 0%,#a80077 51%,#db36a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.singleMessage:nth-child(4n+3) .messageHeader {
  background: #99b9d8; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #99b9d8 0%, #3690f0 50%, #99b9d8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #99b9d8 0%,#3690f0 50%,#99b9d8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #99b9d8 0%,#3690f0 50%,#99b9d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99b9d8', endColorstr='#99b9d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.messageHeader h2{
  margin-bottom: 5px;
}
.messageContent p{
  padding: 10px;
}
