<div class="messages">

  <div class="singleMessage">
    <div class="messageHeader">
      <h2>username</h2>
      <p>date</p>
    </div>
    <div class="messageContent">
      <p>dfslkjf;dsjfk;dsjfkldsjklf</p>
    </div>
  </div>

</div>
<div class="newMessage">
  <form id="newMessage" action="/new" method="post">
    <input type="text" name="username" value="" placeholder="User name....">
    <input type="text" name="context" value="" placeholder="write anything....">
    <input type="submit" name="submit" value="Send">
  </form>
</div>
