{{#each allMessages}}
  <div class="singleMessage">
    <div class="messageHeader">
      <h2>{{username}}</h2>
      <p>{{getDate date}}</p>
    </div>
    <div class="messageContent">
      <p>{{context}}</p>
    </div>
  </div>
{{/each}}
